# Google Places API
# Obtén tu API Key en https://cloud.google.com/console
GOOGLE_API_KEY=

# Google Place ID para tu negocio
# Obtén el Place ID en https://developers.google.com/maps/documentation/places/web-service/overview
GOOGLE_PLACE_ID=
